* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
}

figure {
  display: inline;
  margin: 1em;
  width: 25%;
}

.gallery img {
  width: 100%;
}
